<h2 mat-dialog-title>Tietoa palvelusta</h2>

<mat-dialog-content>
  <p>Lähdekoodi on avointa, löytyy <a href="https://github.com/hkotkanen/helsinki-public-art-ui" target="_blank">GitHubista</a>.</p>
  <p>Taideteosten tiedot <a href="https://palvelukartta.hel.fi" target="_blank">Palvelukartan</a> avoimesta <a href="https://dev.hel.fi/apis/service-map-backend-api/" target="_blank">rajapinnasta</a>.</p>
  <p>Karttatiilet Helsingin palvelukartan tyyleillä, <a href="https://tiles.hel.ninja" target="_blank">Helsingin palvelimelta</a>.</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button close-dialog-button"(click)="close()">Ok</button>
</mat-dialog-actions>
