.sidenav-drawer-container {
  z-index: 1002; // leaflet tries to flex with z-index 1000?
}
.mat-drawer-container {
  overflow: visible;
}

.toolbar-mid-space {
  flex: 1 1 auto;
}

.list-drawer {
  width:40vw;
  @media (max-width: 599px) {
    width: 100vw;
    z-index: calc(666 + 1);
  }
}
.details-drawer {
  width: 40vw;
  @media (max-width: 599px) {
    width: 100vw;
    z-index: calc(666 + 2);
  }
}

.open-list-button {
  z-index: 1001;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 70px);
}
.open-details-button {
  z-index: 1001;
  position: absolute;
  bottom: 25px;
  left: calc(50% + 30px);
}
.locate-me-button {
  z-index: 1001;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 20px);
}

.list-menu-header,
.details-menu-header {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: calc(666 + 3); /* Ensure that your app's content doesn't overlap the toolbar */
}
