<app-map
  [artworks]="artworks"
  (markerClick)="onArtworkSelect($event)"
  (userLocationReceived)="sortByDistance($event)"
></app-map>

<mat-sidenav-container class="sidenav-drawer-container">
  <!--drawer for list on the left hand side-->
  <mat-sidenav #artworkList
    class="list-drawer"
    fixedInViewport="true"
    role="dialog"
    mode="over"
    [autoFocus]="false"
  >
    <mat-toolbar class="list-menu-header" color="accent">
      <span>Julkiset taideteokset</span>
      <span class="toolbar-mid-space"></span>
      <button
        mat-icon-button
        title="Aakkosjärjestys"
        (click)="sortAlphabetical()"
      >
        <mat-icon>sort_by_alpha</mat-icon>
      </button>
      <button
        mat-icon-button
        title="Lähimmät ensin"
        (click)="getLocation(true)"
      >
        <mat-icon>near_me</mat-icon>
      </button>
      <button
        mat-icon-button
        title="Piilota lista"
        (click)="listDrawer.close()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <app-artwork-list
      [loading]="loading"
      [artworks]="artworks"
      (artworkListClick)="onArtworkSelect($event)"
    ></app-artwork-list>
  </mat-sidenav>

  <!--drawer for details on right hand side-->
  <mat-sidenav #artworkDetails
    class="details-drawer"
    fixedInViewport="true"
    role="dialog"
    mode="over"
    position="end"
    [autoFocus]="false"
  >
    <mat-toolbar class="details-menu-header" color="primary">
      <span>Lisätiedot</span>
      <span class="toolbar-mid-space"></span>
      <button
        mat-icon-button
        title="Piilota lisätiedot"
        (click)="detailsDrawer.close()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <app-artwork-detail [selectedArtwork]="selectedArtwork"></app-artwork-detail>
  </mat-sidenav>
</mat-sidenav-container>

<button
  mat-fab
  class="toggle-list-button"
  title="Avaa listaus"
  (click)="toggleListDrawer()"
>
  <mat-icon>view_list</mat-icon>
</button>

<button
  mat-fab
  class="locate-me-button"
  title="Sijaintini"
  (click)="getLocation(false)"
>
  <mat-icon>my_location</mat-icon>
</button>

<button
  mat-fab
  class="open-info-button"
  title="Info"
  (click)="openInfoDialog()"
>
  <mat-icon>info</mat-icon>
</button>


