<div *ngIf="selectedArtwork; else noArtworkSelected" class="artwork-details">
  <h1>{{ selectedArtwork.name }}</h1>
  <span *ngIf="selectedArtwork.author" class="author-detail"><b>{{ selectedArtwork.author }}</b></span>
  <span *ngIf="selectedArtwork.published_year" class="published-detail"> // {{ selectedArtwork.published_year }}</span>
  <span *ngIf="selectedArtwork.copyright" class="copyright-detail"> // {{ selectedArtwork.copyright }}</span><br>
  <div *ngIf="selectedArtwork.streetAddress" class="location-detail"><mat-icon>location_on</mat-icon>{{ selectedArtwork.streetAddress }}, {{ selectedArtwork.municipality }}</div>
  <img src="{{ selectedArtwork.pictureUrl }}" />
  <div class="image-details-caption">{{ selectedArtwork.pictureCaption }}</div>
  <p *ngIf="selectedArtwork.description">{{ selectedArtwork.description }}</p>
</div>

<ng-template #noArtworkSelected>
  <p class="artwork-details">Valitse taideteos nähdäksesi lisätietoja!</p>
</ng-template>
