@import '../../../theme.scss';

.artwork-details {
  padding: 0 15px 0 15px;

  img {
    max-width: 100%;
    margin-top: 5px;
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .metadata-details {
    padding-bottom: 5px;
  }

  .author-detail {
    font-size: small;
  }
  .published-detail,
  .copyright-detail {
    font-size: smaller;
  }

  .location-detail {
    font-size: smaller;
    margin-top: 5px;
    margin-bottom: 10px;

    mat-icon {
      position: relative;
      top: 6px;
    }
  }

  .image-details-caption {
    font-size: smaller;
    font-style: italic;
    padding-top: 5px;
  }
}
