<div *ngIf="selectedArtwork; else noArtworkSelected" class="artwork-details">
  <h1>{{ selectedArtwork.name }}</h1>
  <div *ngIf="selectedArtwork.streetAddress" class="location-details">
    <mat-icon>location_on</mat-icon>
    {{ selectedArtwork.streetAddress }}, {{ selectedArtwork.municipality }}
  </div>
  <img src="{{ selectedArtwork.pictureUrl }}" />
  <p *ngIf="selectedArtwork.description">{{ selectedArtwork.description }}</p>
</div>

<ng-template #noArtworkSelected>
  <p class="artwork-details">Valitse taideteos nähdäksesi lisätietoja!</p>
</ng-template>
