@import '../../../theme.scss';

.artwork-details {
  padding: 0 15px 0 15px;

  img {
    max-width: 100%;
    margin-top: 15px;
  }

  h1 {
    margin-bottom: 0;
  }

  .location-details {
    padding-bottom: 5px;
    font-size: smaller;

    mat-icon {
      position: relative;
      top: 6px;
    }
  }

  .image-details-caption {
    font-size: smaller;
    font-style: italic;
    padding-top: 5px;
  }
}
