//@import '~@angular/material/theming';
//
//@include mat-core();

$primary: #00d7a7;
$accent:  #0000bf;
$warn:    #f5a3c7;

//$theme: mat-light-theme($primary, $accent, $warn);
//
//@include angular-material-theme($theme);
