//@import '~@angular/material/theming';
//
//@include mat-core();

// from https://www.hel.fi/static/hkr/ohjeita_suunnittelijoille/HKI_GRAAFINEN_Ohjeisto_21_ilme.pdf
$primary: rgb(0, 215, 167);
$accent:  rgb(255, 212, 0);
$warn:    rgb(245, 164, 199);

//$theme: mat-light-theme($primary, $accent, $warn);
//
//@include angular-material-theme($theme);
